<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EZDate</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <#include "header.html">
                <!--详情页-->
                <div class="card">
                    <h5 class="card-header">${postInfo.title}</h5>
                    <div class="card-body">
                            ${postInfo.content}
                        <footer class="blockquote-footer">原贴地址：<a target="_blank" href="${postInfo.sourceUrl}"><cite title="Source Title">${postInfo.sourceUrl}</cite></a></footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>